In [ ]:
URL = "https://world.taobao.com/search/search.htm?cat=50043774&_ksTS=1472519583989_41&spm=a21bp.7806943.banner_TW_cat.913.Eq8DrV&_input_charset=utf-8&navigator=all&json=on&cna=pspLEC6I%20TYCAYxz7CfV%20WXk&callback=__jsonp_cb&abtest=_AB-LR517-LR854-LR895-PR517-PR854-PR895"

In [ ]:
import requests as r
from bs4 import BeautifulSoup
from datetime import datetime
import MySQLdb

In [ ]:
res = r.get(URL)

In [ ]:
res.status_code

In [ ]:
res.headers

In [ ]:
res.text

In [ ]:
# Let's try using Selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

driver = webdriver.Firefox()
driver.get(URL)
# elem = driver.find_element_by_name("q")
# elem.clear()
# elem.send_keys("selenium")
# elem.send_keys(Keys.RETURN)
html_source = driver.page_source
print html_source
driver.close()

In [ ]:
soup = BeautifulSoup(html_source, 'lxml')

In [ ]:
# Item img
soup.find_all('li', class_="item")[0].find('img')['src']

In [ ]:
# Item price in RMB
soup.find_all('li', class_="item")[0].find('strong').text

In [ ]:
# Item title
soup.find_all('li', class_="item")[0].find(class_='title').text.strip()

In [ ]:
# Item URL
soup.find_all('li', class_="item")[0].find(class_='title').a['href']
#soup.find_all('li', class_="item")[0].find(class_='title').find('a')['href']

In [ ]:
# Seller id
soup.find_all('li', class_="item")[0].find('a', class_='nick').text

In [ ]:
len(soup.find_all('li', class_="item"))

In [ ]:
items = soup.find_all('li', class_="item") # list of items
# List of items scraped from website
items_list = []
for item in items:
    # Define a new empty dictionary for each item
    item_dict = {}
    print "="*5 + item.find(class_='title').text.strip() + "="*5
    item_dict['title'] = item.find(class_='title').text.strip()
    item_dict['item_url'] = item.find(class_='title').a['href']
    item_dict['price'] = item.find('strong').text
    item_dict['img_url'] = item.find('img')['src']
    items_list.append(item_dict)

In [ ]:
items_list

In [ ]:
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions
# from selenium.webdriver.common.by import By

# driver = webdriver.Firefox()
# driver.get(URL)


# # Wait ultil some element with class name "hotel-name" appear on the page
# elem_present = expected_conditions.presence_of_element_located((By.CLASS_NAME, 'nick'))
# WebDriverWait(driver, 10).until(elem_present)

# for x in range(0,9):
#     print "start finding next button"
#     elem = driver.find_element_by_css_selector('a.J_Ajax:nth-child(8)')
#     print "foudn next button"
#     driver.execute_script("return window.scrollBy(0, 7500)")
#     #driver.execute_script("return arguments[0].scrollIntoView();", elem)
#     elem.click()
    

# print driver.page_source

# MySQL

In [ ]:
# conda install mysql-python
# 安裝完後，重新啟動Jupyter Notebook

In [ ]:
import MySQLdb

In [ ]:
db = MySQLdb.connect("localhost", "ian", "password", "testdb")

In [ ]:
type(db)

In [ ]:
cursor = db.cursor()

In [ ]:
type(cursor)

In [ ]:
sql = """CREATE TABLE CONTACTS (
         NAME VARCHAR(255) NOT NULL,
         JOB  VARCHAR(255),
         HOBBY VARCHAR(255))"""

In [ ]:
cursor.execute(sql)

In [ ]:
db.close()

In [ ]:
sql = """INSERT INTO contacts ( hobby, job, name) VALUES ("ian", "engineer", "running")"""

In [ ]:
db = MySQLdb.connect("localhost", "ian", "password", "testdb")
cursor = db.cursor()

In [ ]:
cursor.execute(sql)

In [ ]:
db.commit()

In [ ]:
db.close()

In [ ]:
# Clean up...

In [ ]:
db = MySQLdb.connect("localhost", "ian", "password", "testdb")
cursor = db.cursor()

sql = """INSERT INTO contacts ( name, job, hobby) VALUES ("john", "engineer", "running")"""
cursor.execute(sql)
db.commit()

db.close()

In [ ]:
# Using string formatting to construct SQL statement

In [ ]:
db = MySQLdb.connect("localhost", "ian", "password", "testdb")
cursor = db.cursor()

name = 'ian'
job = 'developer'
hobby = 'cycling'

sql = """INSERT INTO contacts ( name, job, hobby) VALUES ("{}", "{}", "{}")""".format(name, job, hobby)
cursor.execute(sql)
db.commit()

db.close()

In [ ]:
person_dict = {'name': 'david', 'job': 'ceo', 'hobby': 'reading'}

In [ ]:
# Remember some methods of Dictionary

In [ ]:
person_dict.items

In [ ]:
person_dict.items() # list of tuple, (key, value)

In [ ]:
person_dict.items()[0] # list of tuple, (key, value)

In [ ]:
print person_dict.items()[0][0] # list of tuple, (key, value)
print person_dict.items()[0][1] # list of tuple, (key, value)

In [ ]:
# Other methods of Dictionary

In [ ]:
person_dict.keys()

In [ ]:
# create a string from a list of strings
# Out traget -> name, job, hobby
''.join(person_dict.keys())

In [ ]:
# create a string from a list of strings
# Out traget -> name, job, hobby
columns = ','.join(person_dict.keys())
print columns

In [ ]:
person_dict.values()

In [ ]:
db = MySQLdb.connect("localhost", "ian", "password", "testdb")
cursor = db.cursor()

name = person_dict.values()[2]
job = person_dict.values()[1]
hobby = person_dict.values()[0]

"""INSERT INTO contacts ( hobby,job,name ) VALUES ("running", "engineer", "david")"""
sql = """INSERT INTO contacts ( {} ) VALUES ("{}", "{}", "{}")""".format(columns, hobby, job, name)
cursor.execute(sql)
db.commit()

db.close()

In [ ]:
people_list = [{'name': 'david', 'job': 'ceo', 'hobby': 'reading'},
              {'name': 'ian', 'job': 'coo', 'hobby': 'surfing'},
              {'name': 'brian', 'job': 'cto', 'hobby': 'running'}]

In [ ]:
people_list

In [ ]:
people_list[0] # dict

In [ ]:
people_list[0].keys()

In [ ]:
columns = ','.join(people_list[0].keys())
print columns

In [ ]:
# GOAL -> [('cycling', 'engineer', 'ian'), ('reading', 'cto', 'brian')]
values_to_insert = []
for person in people_list:
    print tuple(person.values())
    values_to_insert.append(tuple(person.values()))

In [ ]:
print values_to_insert

In [ ]:
values_to_insert = [tuple(x.values()) for x in people_list]

In [ ]:
values_to_insert

In [ ]:
# What do we have now?
# columns
# values to insert

In [ ]:
flatten = [y for x in values_to_insert for y in x]  
flatten

In [ ]:
flatten = []
for mytuple in values_to_insert:
    for val in mytuple:
        flatten.append(val)
print flatten

In [ ]:
mystr = "{}, {}, {},{}, {}, {},{}, {}, {}".format(*flatten)

In [ ]:
print mystr

In [ ]:
db = MySQLdb.connect("localhost", "ian", "password", "testdb")
cursor = db.cursor()

name = person_dict.values()[2]
job = person_dict.values()[1]
hobby = person_dict.values()[0]

"""INSERT INTO contacts ( hobby,job,name ) VALUES ("running", "engineer", "david"), ("running", "engineer", "david"), ("running", "engineer", "david")"""
sql = """INSERT INTO contacts ( {} ) VALUES ("{}", "{}", "{}"), ("{}", "{}", "{}"), ("{}", "{}", "{}")""".format(columns, *flatten)
cursor.execute(sql)
db.commit()

db.close()

In [ ]:
# casting
mynum = 1
mystr = str(mynum)

In [ ]:
type(mynum)

In [ ]:
type(mystr)

In [ ]:
# MySQLdb writer for variable columns

In [ ]:
people_list = [{'name': 'david', 'job': 'ceo', 'hobby': 'reading'},
               {'name': 'ian', 'job': 'coo', 'hobby': 'surfing'},
               {'name': 'michael', 'job': 'engineer', 'hobby': 'cycling'},
               {'name': 'john', 'job': 'operations', 'hobby': 'skiing'},
               {'name': 'amy', 'job': 'designer', 'hobby': 'swimming'},
               {'name': 'brian', 'job': 'cto', 'hobby': 'running'}]

In [ ]:
values_to_insert = [tuple(x.values()) for x in people_list]
values_to_insert

In [ ]:
flatten = [y for x in values_to_insert for y in x]  
flatten

In [ ]:
columns = ','.join(people_list[0].keys())
columns

In [ ]:
def flush_to_db(data_list, table):    
    db = MySQLdb.connect("localhost", "ian", "password", "testdb", charset="utf-8")
    cursor = db.cursor()
    values_to_insert = [tuple(x.values()) for x in data_list]
    flatten = [y for x in values_to_insert for y in x]  
    columns = ','.join(data_list[0].keys())
    sql = """INSERT INTO {} ( {} ) VALUES""".format(table, columns) + ",".join("(%s,%s,%s)" for x in values_to_insert)
    print sql
    cursor.execute(sql, flatten)
    db.commit()

    db.close()

In [ ]:
def list_crawler(url):
    """ This is a function that crawls the list page of appledaily news
        Args:
             url: The url of news list page
        Return:
             article_url_list: list of article urls
    """
    article_url_list = []
    res = r.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    news_list = soup.find_all('li', class_='rtddt')
    for news in news_list:
        print news.font.text
        # news.a['href'] does not include host http://www.appledaily.com.tw
        print "http://www.appledaily.com.tw" + news.a['href']
        article_url_list.append("http://www.appledaily.com.tw" + news.a['href'])
    return article_url_list

In [ ]:
def parse_article(url):
    """This function extracts the title and content of the news article
       Args:
            url: url of the article
       Return:
            art_dict: dictionary of artilce title and content
            
            art_dict = {
                'title': "I am a title",
                'content': "This is the content of the news artile",
                'pub_date': "2016年08月26日09:15",
                'category': "sports"
            }
    
    """
    art_dict = {}
    res = r.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    art_dict['title'] = soup.find(id='h1').text
    art_dict['content'] = soup.find(id='summary').text
    art_dict['pub_date'] = datetime.strptime(soup.find('time').text.encode('utf-8'), u'%Y年%m月%d日%H:%M'.encode('utf-8'))
#art_dict['pub_date'] = soup.find('time').text
#     print url
#     print url.split('/')
#     print url.split('/')[5]
    art_dict['category'] = url.split('/')[5]
    return art_dict

In [ ]:
# #encoding=utf-8
# import sys
# reload(sys)
# sys.setdefaultencoding('utf-8')
# let's crawl 10 pages of Appledaily
URL = "http://www.appledaily.com.tw/realtimenews/section/new/"
final_list = []
for page in range(1,6):
    # page is type int
    print "Crawling page {}".format(page)
    current_url = URL + str(page)
    print "Current url is {}".format(current_url)
    article_url_list = list_crawler(current_url) # We get the list of article_urls
    db_cnt = 0
    for article_url in article_url_list:
        try:
            final_list.append(parse_article(article_url))                
        except Exception as e:
            print e
    #flush_to_db(final_list, 'appledaily')
    #final_list = []
print final_list

In [ ]:
final_list[0]['pub_date']

In [ ]:
sql = """CREATE TABLE APPLEDAILY (
         TITLE VARCHAR(255) NOT NULL,
         CONTENT  TEXT,
         PUB_DATE DATETIME,
         CATEGORY VARCHAR(255))"""
db = MySQLdb.connect("localhost", "ian", "password", "testdb")
cursor = db.cursor()

print sql
cursor.execute(sql)
db.commit()

db.close()

In [ ]:
# SQLAlchemy
# ORM (Object Relational Mapping)

In [ ]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [ ]:
# connection string => username:password@host/database
engine = sqlalchemy.create_engine('mysql+mysqldb://ian:password@localhost/testdb?charset=utf8')

In [ ]:
from sqlalchemy import Column, String, DateTime, Text, Integer
class AppleDaily(Base):
    __tablename__ = 'appledaily'
    
    id       = Column(Integer, primary_key=True)
    title    = Column(String(255))
    content  = Column(Text)
    pub_date = Column(DateTime)
    category = Column(String(255))

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
type(AppleDaily)

In [ ]:
final_list

In [ ]:
session.bulk_insert_mappings(AppleDaily, final_list)

In [ ]:
session.commit()

In [ ]:
# Query

In [ ]:
dir(session.query(AppleDaily).order_by(AppleDaily.pub_date))

In [ ]:
for row in session.query(AppleDaily).order_by(AppleDaily.pub_date):
    print row.title

In [ ]:
for row in session.query(AppleDaily).filter(AppleDaily.id == '40'):
    print row.title

In [ ]:
for row in session.query(AppleDaily).filter(AppleDaily.title.like("%ScooTube%")):
    print row.title
    print row.content

In [ ]:
import pandas as pd

In [ ]:
order = pd.read_table('http://bit.ly/chiporders') # Read tab seperated file

In [ ]:
order

In [ ]:
news = pd.DataFrame(final_list)

In [ ]:
news

In [ ]:
news.count()

In [ ]:
news.shape

In [ ]:
news.describe()

In [ ]:
type(news)

In [ ]:
news.query('category == "life"')

In [ ]:
news.category

In [ ]:
news.groupby('category').count()

In [ ]:
news.groupby('category').count().sort_values('content', ascending=False)

In [ ]:
news_stat = news.groupby('category').count().sort_values('content', ascending=False)

In [ ]:
type(news_stat)

In [ ]:
news_stat.index

In [ ]:
news_stat.to_sql('news_stat', engine, if_exists='replace', index=False, index_label=news_stat.index)

In [ ]:
#pd.read_sql

In [ ]:
news

In [ ]:
news.to_dict('records')

In [ ]:
news['category_title'] = news.category.str.title()

In [ ]:
news

In [ ]:
news.drop('category', axis=1, inplace=True)

In [ ]:
news

In [ ]:
news.rename(columns={'category_title': 'category', 'content': 'body'}, inplace=True)

In [ ]:
news

In [ ]:
news['title_len'] = news.title.apply(len)

In [ ]:
news

In [ ]:
news.query('title_len > 25')

In [ ]:
news[news.title_len > 25]

In [ ]:
news[(news.title_len > 25) & (news.category == "Life")]

In [ ]:
news[(news.title_len > 25) | (news.category == "Life")]